<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
       <!-- CSS only -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />

    <!-- JS, Popper.js, and jQuery -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <link href="https://fonts.googleapis.com/css2?family=Coiny&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/aomixi.css">
</head>
<body>
     <header>
      <div class="left">
         <a href="trangchu.html"><img src="img/logo.jpg" alt="" /></a>
      </div>
      <div class="center">
        <form action="">
          <input type="search"placeholder="tìm kiếm..." />
          <a href=""><img src="img/timkiem.png" alt=""/></a>
        </form>
      </div>
      <div class="right">
        <div class="icondt">
          <img src="img/dt.jpg" alt="" />

          <span> <strong>0822221992</strong> </span>
        </div>
        <div class="icongh">
          <img src="img/gh.png" alt="" />
          <span><strong>Giỏ Hàng</strong> </span>
        </div>
        <div class="admin">
         <a href="login.html"><img src="img/admin.png" alt="" />
          <span><strong>Đăng nhập</strong>
          </a>
        </div>
      </div>
    </header>
    <nav class="menu">
        <div class="admin" align="center">
   <a href="trangchu.html">MIXISHOP</a>
    <a href="aomixi.html">ÁO MIXI</a>
    <a href="luuniem.html">ĐỒ LƯU NIỆM MIX</a>
    <a href="">ÁO REFUND GAMING</a>
    <a href="dangky.html">ĐĂNG KÝ</a>
    <a href="lienhe.html">LIÊN HỆ</a> 
    
    </div>
    </nav>
    <section class="section1">
      
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-ride="carousel"
      >
        <ol class="carousel-indicators">
          <li
            data-target="#carouselExampleIndicators"
            data-slide-to="0"
            class="active"
          ></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img
              src="img/banner.png"
              class="d-block w-100"
              alt="..."
              height="370"
            />
          </div>
          <div class="carousel-item">
            <img
              src="img/banner1.jpg"
              class="d-block w-100"
              alt="..."
              height="370"
            />
          </div>
          <div class="carousel-item">
            <img
              src="img/banner2.jpg"
              class="d-block w-100"
              alt="..."
              height="370"
            />
          </div>
        </div>
        <a
          class="carousel-control-prev"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a
          class="carousel-control-next"
          href="#carouselExampleIndicators"
          role="button"
          data-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </section>
    <main>
      <h1 align="center" style="margin:70px; font-family: 'Coiny', cursive;">ÁO MIXI</h1> 
      <aside class="aside_trang3">
      <a href="
      ">TRANG CHỦ / </a>ĐỒ LƯU NIỆM MIXI <br>
      <section>
       <h4>DANH MỤC SẢN PHẨM</h4>
       <p>
        <p><a href="">ÁO CSGO </a></p>
        
        <p> <a href=""> ÁO MIXI</a></p>
       
        <p><a href="">  ÁO PUBG</a></p>
        
        <p> <a href="">ÁO REFUND GAMING</a></p>
      
        <p><a href=""> ĐỒ LƯU NIỆM MIXI</a></p>
       
       </p>
    </aside>
     <article>
       <div class="img"> <a href="">
         <img src="img/3.jpg" alt="" width="300" height="370"> <br> <br>
         <p><strong>Áo ba lỗ Mixi chất đẹp,<br> siêu thoáng mát</strong>
         <br></a>
         <img src="img/star.png" alt="" width="20" height="20">
         <img src="img/star.png" alt="" width="20" height="20">
         <img src="img/star.png" alt="" width="20" height="20">
         <img src="img/star.png" alt="" width="20" height="20">
         <img src="img/star.png" alt="" width="20" height="20"> 
         <br>
        <strong>199.000 đ</strong>
        <br><a href=""> <button>Mua Hàng</button></a>
        
       </p> 
       </div>
       <div class="img"><a href="">
        <img src="img/bc.jpg" alt="" width="300" height="370"><br> <br>
        <p><strong>Áo Mixi thun đen hình logo Mixi,<br> siêu thoáng mát</strong>
        <br></a>
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20"> 
        <br>
       <strong>199.000 đ</strong>
       <br>
       <a href=""> <button>Mua Hàng</button></a>
       
      </p> 
       </div>
      <div class="hang2">
        <a href="">
        <img src="img/trang33.jpg" alt="" width="300" height="370"><br> <br>
        <p><strong>Áo hoodie Mixi đen khoá ngực,<br> chất nỉ ấm áp, đẹp chất ngất

        </strong>
        <br></a>
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20"> 
        <br>
       <strong>500.000 đ</strong>
       <br>
       <a href=""><button>Mua Hàng</button></a>
        
      </p>  
      </div>
      <div class="hang2"><a href="">
        <img src="img/trang34.jpg" alt="" width="300" height="370"><br> <br>
        <p><strong>Áo khoác Mixi đen siêu đẹp, <br> hàng cao cấp chính hãng
        </strong>
        <br></a>
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20"> 
        <br>
       <strong>500.000 đ</strong>
       <br>
       <a href=""> <button>Mua Hàng</button></a>
       
      </p>  
      </div>
      <div class="hang2"><a href="">
        <img src="img/trang35.jpg" alt="" width="300" height="370"><br> <br>
        <p><strong>Áo hoodie Mixi classic màu đen, <br> nỉ chân cua dày, 100% cotton</strong>
        <br></a>
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20">
        <img src="img/star.png" alt="" width="20" height="20"> 
        <br>
       <strong>500.000 đ</strong>
       <br>
       <a href=""><button>Mua Hàng</button></a>
        
      </p>  
      </div>
      </div>
     </article>
   </main>



     <section class="section2">
         <div class="xt" align="center"> 
                <hr>
                <br>
                <a href=""><button>Xem Tất Cả</button></a>
                
              </div>
              <div class="support">
              <div class="img">
                <img src="img/cart.png" alt="" width="70" height="70"> <br> 
                <strong>Giao hàng toàn quốc</strong><br>
                Giao hàng đến tận nơi nhanh chóng, đảm bảo 
              </div> 
              <div class="img">
                <img src="img/return.png" alt="" width="70" height="70"> <br>
               <strong>Hỗ trợ đổi trả</strong> <br>
                Chúng tôi hỗ trợ đổi trả sản phẩm lỗi do nhà sản xuất hoặc vận chuyển. Đổi size khi còn nguyên tem mác
              </div>
              <div class="img">
                <img src="img/living-room.png" alt="" width="70" height="70"> <br>
                <strong>Support 24/7 </strong>
                Hỗ trợ qua hệ thống fanpage, trả lời thắc mắc 24/7 trên Instagram  
              </div>
              </div>
               
      </section>
    
      <footer>
     <div class="footer">
      <a href=""> <strong>LIÊN HỆ</strong>
       <br></a>
       <a href=""> <strong>MIXISHOP</strong></a>
        
         
        
      
      
     </div>
     <div class="footer"><a href=""> <strong>SOCIAL <br></strong></a>
      <a href=""></a>
         <a href=""><img src="img/face.png" alt="" width="25" height="25"> </a>
           <a href=""> <img src="img/it.png" alt="" width="35" height="30"></a>
       
        
       
        
      </div>
      <div class="footer">
        <a href=""> <strong>DANH MỤC SẢN PHẨM</strong>
          <br></a> <p>

          </p>
         <a href=""><strong>ÁO CSGO</strong> <br></a>
         <a href=""> <strong> ÁO MIXI</strong> <br></a>
         <a href=""><strong>ÁO PUBG</strong> <br></a>
         <a href=""> <strong>ÁO REFUND GAMING</strong> <br> </a>
         <a href=""> <strong> ĐỒ LƯU NIỆM MIXI</strong> <br></a>
        </div>
        <div class="footer">
          <a href=""><strong>MIXISHOP</strong>
            <br></a> 
            <p>
          </p>
          <a href=""> <strong>
                Giới thiệu
            </strong> <br></a>
          <a href=""> <strong>Chính sách bảo mật</strong> </a> <br>
          <a href="">  <strong>  Điều khoản</strong></a> <br>
          <a href=""> <strong>  Sitemap</strong></a> 
         
          </div>
          <a href=""><div class="footer2"> <strong>Copyright 2020 © Mixishop</strong> </div></a>
          
        
    </footer> 
   
  </body>
</html>
