body {
        width: 1300px;

        margin: 0px auto;
      }
      .left {
        width: 290px;
        height: 120px;
        float: left;
      }
      .left img {
        width: 270px;
        height: 120px;
        padding-left: 115px;
      }
      .center {
        width: 480px;
        height: 120px;
        padding-left: 20px;
        float: left;
      }

      .center input {
        margin-top: 45px;
        width: 380px;
        height: 40px;

        float: left;
        border-radius: 25px;
        border: 2px solid black;
      }
      .center img {
        margin-top: 50px;
        padding-left: 5px;
        width: 30px;
        height: 30px;
      }

      .right {
        width: 520px;
        height: 120px;
        float: right;
      }
      .icondt img {
        width: 30px;
        height: 30px;
        margin-top: 50px;
        float: left;
      }
      .icondt span {
        margin-top: 55px;
        padding-left: 10px;
        float: left;
        font-size: 17px;
        color: orangered;
        padding-right: 30px;
      }
      .icongh img {
        width: 30px;
        height: 30px;
        margin-top: 50px;
        float: left;
      }
      .icongh span {
        margin-top: 55px;
        padding-left: 10px;
        float: left;
        font-size: 17px;
        color: orangered;
        padding-right: 30px;
      }
      .admin img {
        width: 30px;
        height: 30px;
        margin-top: 50px;
        float: left;
      }
      .admin span {
        margin-top: 55px;
        padding-left: 10px;
        float: left;
        font-size: 17px;
        color: orangered;
      }
      /* header */
      
      
      a:hover {
      text-decoration: none;
      } 
      nav {
        height: 45px;
        clear: both;
        font-family:sans-serif;
        font-size: 20px;
        background: #007784;
        margin-bottom: 3px;
        
      }
      nav a{
       line-height: 45px;
       color: white;
       margin: 25px;

      }
      nav a:hover {
       color: red;
       font-size: 25px;
      }

      
    /*footer*/
      footer{
        clear: both;
        
        height: 270px;
        margin:auto;
        background-color: #2D2D2D; 
        
      }
      footer a{
        color: white;
      }
      footer a:hover{
        color: red;
      }
      .footer{
        width: 300px;
        float: left;
        text-align: center;
        padding: 50px;
      
      }
     .footer2{
       clear: both;
       height: 50px;
       background: #121212;
       line-height: 50px;
     }
        /* dăng kí*/
        section{
            margin-bottom: 20px;
        }
        .content{
            padding-top:  20px;
        }
        .content p{

            text-align: center;
        }
        .content h1{
            text-align: center;
        }
        .container{
            background-image: url("../img/dangki.jpg");
            height: 752px;
            max-width: 100%;
        }
        input[type=text], input[type=password] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }
        input[type=text]:focus, input[type=password]:focus {
            background-color: #ddd;
            outline: none;
        }
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
            width: 100%;
        }
        .registerbtn {
            background-color: hsl(192, 100%, 30%);
            color: white;
            padding: 16px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }
        .registerbtn:hover {
            opacity:1;
        }
        .signup{
            max-width: 50%;
             text-align: center;
            margin-left: 350px;

        }
        a {
            color: whitesmoke;
            text-decoration: none;
        }
       .center input[type=text] {
            width: 100%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 50px;
            font-size: 16px;
            background-color: white;
            background-position: 5px 5px;
            background-repeat: no-repeat;
        }